absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
attrs
certifi
charset-normalizer
click
datasets
dill
einops
evaluate
filelock
flake8
frozenlist
fsspec
gitdb
GitPython
grpcio
hf-xet
huggingface-hub
idna
Jinja2
Markdown
MarkupSafe
mccabe
mpmath
multidict
multiprocess
networkx
numpy
packaging
pandas
peft
pillow
platformdirs
propcache
protobuf
psutil
pyarrow
pycodestyle
pydantic
pydantic_core
pyflakes
python-dateutil
pytz
PyYAML
RapidFuzz
regex
requests
safetensors
sentencepiece
sentry-sdk
six
smmap
sympy
tensorboard
tensorboard-data-server
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
types-requests
types-tqdm
typing-inspection
typing_extensions
mypy
types-PyYAML
types-setuptools
tzdata
urllib3
wandb
Werkzeug
xxhash
yarl